<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Calculator-%date{yyyy-MM-dd_HH-mm-ss}.log" />
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
  
  <appSettings>
    <add key="pathToApp" value="C:\Windows\System32\calc.exe"/>
    <add key="windowName" value="Calculator"/>
    <add key="resultLabeleID" value="150"/>
    <add key="menuItemName" value="View"/>
    <add key="simpleViewName" value="Standard"/>
    <add key="scientificViewName" value="Scientific"/>
    <add key="addButtonName" value="Add"/>
    <add key="equalsButtonName" value="Equals"/>
    <add key="memoryAddButtonName" value="Memory add"/>
    <add key="memoryRecallButtonName" value="Memory recall"/>
    <add key="firstNumberValue" value="12"/>
    <add key="secondNumberValue" value="999"/>
    <add key="thirdNumberValue" value="19"/>
    <add key="simpleCalculatorTestResult" value="1030"/>
    <add key="sientificCalculatorTestResult" value="1030"/>
  
  </appSettings>
</configuration>
